.container {
    background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  grid-gap: 50px 20px;
  margin:20px 20px;
  margin-left: 20px;
  grid-template-areas:50px 20px ;
}

.item {
  background-color: steelblue;
  color: white;
  padding: 30px;
  text-align: center;
}
