.navbar {
  background-color: black;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-basis: 20%;
}


.navbar li {
    display: inline;
    align-items:center;
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  
}
